<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jang.bbs.mapper.LoginMapper">
	<select id="findUser" parameterType="UserVO" resultType="UserVO">
		SELECT
		userid, passwd, name
		FROM bbs_member
		WHERE userid = #{userId} AND passwd
		= #{passwd}
	</select>

	<select id="getUser" parameterType="String" resultType="UserVO">
		SELECT *
		FROM bbs_member
		WHERE userid = #{userId}
	</select>
	
	<select id="getUser2" parameterType="String" resultType="UserVO">
		SELECT *
		FROM bbs_member
		WHERE userid = #{userId}
	</select>

	<insert id="insertUser" keyProperty="mno">
		<selectKey keyProperty="mno" resultType="int" order="BEFORE">
			SELECT
			COALESCE(MAX(mno), 0) + 1 AS mno FROM bbs_member
		</selectKey>
		INSERT INTO bbs_member (mno, name, passwd, userid, jumin, email )
		VALUES (#{mno}, #{name}, #{passwd}, #{userId}, #{jumin}, #{email})
	</insert>

	<update id="updateUser" parameterType="UserVO">
		UPDATE bbs_member
		SET
		name = #{name}, passwd = #{passwd}, email = #{email}
		WHERE mno = #{mno} AND userid = #{userId}
	</update>
	
	<select id="findId" parameterType="UserVO" resultType="UserVO">
		SELECT userId
		FROM bbs_member
		 WHERE name = #{name} AND email = #{email}
		<!-- WHERE name = #{name} AND jumin = #{jumin} AND email = #{email} -->
		
	</select>
	
	<select id="findPass" parameterType="UserVO" resultType="UserVO">
		SELECT *
		FROM bbs_member
		WHERE userid = #{userId} AND name = #{name} AND email = #{email}
	</select>
	
	
	<select id="deleteUser" parameterType="UserVO" resultType="UserVO">
		DELETE 
		FROM bbs_member
		WHERE userid = #{userId}
	</select>
	
	<select id="updatePwd" parameterType="UserVO" resultType="UserVO">
		UPDATE bbs_member
		SET 
		passwd = #{passwd} 
		WHERE userId= #{userId}
	</select>

</mapper>